{% extends 'app/base.html' %}
{%load static%}
{% block body_block %}
<h2 class='text-center p-3'>PHOTOS</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-12 p-3">
      <img src="{% static 'images/pic-1.jpeg' %}" alt=" image" class ="w-100">
    </div>
    <div class="col-md-4 col-12 p-3">
      <img src="{% static 'images/8th-2.jpeg' %}" alt=" image" class ="w-100">
    </div>
    <div class="col-md-4 col-12 p-3">
      <img src="{% static 'images/pic-3.jpeg' %}" alt=" image" class ="w-100">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-12 p-3">
      <img src="{% static 'images/pic-7.jpeg' %}" alt=" image" class ="w-100">
    </div>
    <div class="col-md-4 col-12 p-3">
      <img src="{% static 'images/8th-1.jpeg' %}" alt=" image" class ="w-100">
    </div>
    <div class="col-md-4 col-12 p-3">
      <img src="{% static 'images/pic-6.jpeg' %}" alt=" image" class ="w-100">
    </div>
  </div>
</div>
<!--footer section-->
<div class = 'div text-center'>
    <h5>still Hunting for a job?</h5>
    <p>Elearn Infotech is a Realtime Training Comany offering Cousre on varied IT Technologies like Fullstack Development,python,React JS,Node JS,Web Design & PHP with MYSQL,Digital Marketing</p>
    <button class ='button-style'><a href="{% url 'contact_us' %}"> Register</a></button>
</div>

{% endblock %}