{% extends "app/base.html" %}

{%load static%}
{%block body_block%}


<!-- Hero Section -->

<section class="hero">
  <div class="container text-center">
    <h1 class="text-dark fw-bold">Welcome to </br>Narayana Techno School</h1>
    <p class="lead mt-3">Empowering students with knowledge and technology</p>
    <button class="btn btn-warning btn-lg mt-3">Explore Courses</button>

</div>

</section>
<!--marquee section-->
<h5 class="head"><marquee>Admissions are open 2026| Admission are open 2026.......................................................</marquee></h5>


<!-- Courses Section -->
<section class="py-5">
  <div class="container">
    <h2 class="section-title">Our Programs</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card course-card">
          <img src="{% static 'images/our-program-1.jpg' %}" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">Science</h5>
            <p class="card-text">Advanced science learning with modern labs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card course-card">
          <img src="{% static 'images/our-program-2.jpg' %}" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">Mathematics</h5>
            <p class="card-text">
              Strong foundation in mathematics and logic.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card course-card">
            <img src="{% static 'images/our-program-3.jpg' %}" class="card-img-top">
            <div class="card-body text-center">
              <h5 class="card-title">Computer Science</h5>
              <p class="card-text">Coding and technology training for students.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- About Section -->

<section class="bg-light py-5">
  <div class="container">
    <h2 class="section-title">About Our School</h2>
    <p class="text-center">Narayana School is committed to providing quality education and nurturing young minds to achieve academic excellence and strong moral values. Our goal is to create a supportive and inspiring learning environment where students can develop their knowledge, creativity, and confidence.</p>
    <p class="text-center">At Narayana School, we focus on a balanced approach to education that includes academics, discipline, and extracurricular activities. Our experienced teachers guide students to build strong foundations in subjects such as Mathematics, Science, and Languages while encouraging critical thinking and problem-solving skills.</p>
    <p class="text-center">We believe that every student has unique potential. Through modern teaching methods, digital learning tools, and a student-friendly environment, Narayana School helps students grow into responsible and successful individuals. 
    </div>
</section>
<!-- Why Choose Us Section -->
<h2 class="text-center mt-4">Why Choose us?</h2>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 p-4">
      <iframe m-2 width="281" height="183" src="https://www.youtube.com/embed/H03wb1cZCSQ" title="Showreel for School Promotional Videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 col-sm-12 p-4">
      <iframe width="281" height="180" src="https://www.youtube.com/embed/TSBgfmF6gDY" title="&quot;Thought of the day&quot; presented by Princess Saha || Morning Assembly|| KV Gandhinagar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 col-sm-12 p-4 pl-3">
      <iframe width="281" height="180" src="https://www.youtube.com/embed/GY8OffC52PM" title="Line Formation and Open order marching.#physicaleducation #students #play #gaming #class #schoollife" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 col-sm-12 p-4">
      <iframe width="283" height="180" src="https://www.youtube.com/embed/aU063R-djH8" title="Activity of Class Montessori" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- Photos Section-->
<h2 class="text-center">Parent Feedbacks.</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3 col-12 p-4 justify-content-center">
      <iframe width="281" height="183" src="https://www.youtube.com/embed/VztLd-6doFw" title="Parents feedback for teachers | Result feedback From parents | Parents feedback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 col-lg-3 col-12  p-4 justify-content-center">
      <iframe width="281" height="183" src="https://www.youtube.com/embed/a72npW7DeB4" title="Conversation | Parent and Teacher | PTM | Adrija Biswas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 col-lg-3 col-12 p-4 justify-content-center">
      <iframe width="281" height="183" src="https://www.youtube.com/embed/F-Zvy5Rn3M4" title="How to Shine in Your Teacher Interview: Tips for Success | Proven Strategies | Usha Pandit" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
     <div class="col-md-6 col-lg-3 col-12 p-4">
      <iframe width="281" height="183" src="https://www.youtube.com/embed/VztLd-6doFw" title="Parents feedback for teachers | Result feedback From parents | Parents feedback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!--footer section-->
<div class = 'div text-center'>
    <h5>still Hunting for a job?</h5>
    <p>Elearn Infotech is a Realtime Training Comany offering Cousre on varied IT Technologies like Fullstack Development,python,React JS,Node JS,Web Design & PHP with MYSQL,Digital Marketing</p>
    <button class ='button-style'><a href="{% url 'contact_us' %}"> Register</a></button>
</div>



{%endblock%}

