{% extends 'app/base.html' %}
{%load static%}
{% block body_block %}

<!-- VIDEO SECTION -->
 <h1 class="text-center p-3">Videos</h1>
<section class="container py-4">
  <div class="row">
    <div class="col-md-4 video-box">
      <div class="ratio ratio-16x9">
        <iframe width="780" height="439" src="https://www.youtube.com/embed/pgk-719mTxM" title="Classroom management - Week 1, Day 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4 video-box">
      <div class="ratio ratio-16x9">
        <iframe width="100" height="100" src="https://www.youtube.com/embed/eUiWFntut00" title="The First Day of High School: Establishing Classroom Expectations and Building Relationships" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 video-box">
      <div class="ratio ratio-16x9">
        <iframe width="100" height="100" src="https://www.youtube.com/embed/dpBpQlKni78" title="Teaching Speaking &quot;How to order food&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 video-box">
      <div class="ratio ratio-16x9">
        <iframe width="780" height="439" src="https://www.youtube.com/embed/USvNqrhKT6c" title="Funny English speaking Game | Personality Development | Prime batch | Activity Class |Spoken English" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4 video-box">
      <div class="ratio ratio-16x9">
        <iframe width="780" height="439" src="https://www.youtube.com/embed/zls4a7I_qaM" title="My journey to success | Aishwarya Rajesh | TEDxIIMTrichy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 video-box">
      <div class="ratio ratio-16x9">
        <iframe width="780" height="439" src="https://www.youtube.com/embed/8uM8Wgeqzpw" title="Finding Strength in Starting Over | Ms. Alekhya Harika | TEDxBVRIT Hyderabad" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<!--footer section-->
<div class="div text-center">
  <h5>still Hunting for a job?</h5>
  <p>Elearn Infotech is a Realtime Training Comany offering Cousre on varied IT Technologies like Fullstack Development,python,React JS,Node JS,Web Design & PHP with MYSQL,Digital Marketing</p>
  <button class ='button-style'><a href="{% url 'contact_us' %}"> Register</a></button>
</div>


{% endblock %}
